@{
    ViewData["Title"] = "Home Page";
}


<br />

<div class="row">
    <div class="col-md-12">

        <form id="jsonForm" class="form-horizontal form-label-left">           

            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="json">
                    JSON String o URL Fuente
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea id="jsonString" name="jsonString" class="form-control col-md-7 col-xs-12"></textarea>
                    <p><b id="error"></b></p>
                </div>
            </div>


            <div class="ln_solid"></div>
            <div class="form-group text-center">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="reset">Borrar Entrada</button>
                    <button type="submit" class="btn btn-success">Cargar JSON</button>
                </div>
            </div>

        </form>
    </div>
</div>

<div id="imprimir">
    <div class="row">
        <div class="col-md-6" id="divDatosEmpresa">
            <h3>Datos de la Empresa</h3>
            <p id="nombreEmpresa"><b>Nombre: </b></p>
            <p id="telefonoEmpresa"><b>Teléfono: </b></p>
            <p id="emailEmpresa"><b>Email: </b></p>
            <p id="direccionEmpresa"><b>Dirección: </b></p>
        </div>
        <div class="col-md-6" id="divDatosCliente">
            <h3>Datos del Cliente</h3>
            <p id="nombreCliente"><b>Nombre: </b></p>
            <p id="telefonoCliente"><b>Teléfono: </b></p>
            <p id="contactoCliente"><b>Contacto: </b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Factura: </h3>
            <p id="idFactura"><b>ID: </b></p>
            <p id="fechaFactura"><b>Fecha: </b></p>
            <p id="libreImpuestos"><b>Libre de Impuestos: </b></p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="salesInvoice" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
            <thead>
                <tr>
                    <th>Nombre del Producto</th>
                    <th>Descripción</th>
                    <th>Precio Unitario</th>
                    <th>Cantidad</th>
                    <th>Precio Total</th>
                    <th>Opciones</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Sub Total</b></td>
                    <td>0</td>
                    <td id="subtotal">0</td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Impuesto</b></td>
                    <td></td>
                    <td id="taxCell">0</td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td><b>Descuento</b></td>
                    <td></td>
                    <td id="discountCell" contenteditable='true'>0</td>
                    <td></td>
                </tr>

                <tr id="finalTotalRow">
                    <td></td>
                    <td></td>
                    <td><b>Total</b></td>
                    <td></td>
                    <td id="finalTotal">0</td>
                    <td></td>
                </tr>
            </tfoot>

            <tbody></tbody>
        </table>
    </div>

    <input type="button" value="Guardar en PDF" id="guardarPDF" class="btn btn-primary" />
</div>

